# Node / package managers (if used later)
node_modules/
package-lock.json
yarn.lock

# Environment & credentials
.env
*.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/

# Build / dist folders (if incase building JS/CSS later)
dist/
build/

# Backup / temp
*.bak
*.tmp
